.socialbtn {

  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 200px;

  a {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

