.nav {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 10px 50px #020304;
    font-size: x-large;
  }
  
.nav ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
  
.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  .nav a.current,
  .nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    font-size: large;
  }
}